
@import url(fontawesome/css/all.css);

/* Dokumen */
:root {
	--primeLine: #FF0300;
	--secondaryLine : #0065BD;
	--timerPG: 0;
	--totalsec : 0;
	--totalsecTemp : 0;
}

*::-webkit-scrollbar {
  display: none;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body{
	padding: 0px;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	margin: 0;
}


.searchbar {
    background-color: gray;
    border-radius: 22px;
    top: 0;
    height: 200px;
    position: relative; /* Or fixed if needed */
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-container {
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 10px;
}


input[type="text"]:focus {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.8);
}

input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 22px;
    border: 1px solid white;
	box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
    outline: none; /* Removes default browser focus */
}

.loader {
	background-color:  #ECF0F3;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important; /* Full screen height */
    text-align: center !important;
    background-color: #ECF0F3 !important; /* Adjust as needed */
    color: rgb(27, 27, 27) !important;
	z-index: 9999;
}


.loader-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
}

button {
    position: relative;
}

button:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

button:hover::after {
    opacity: 1;
}

.card {
	width: 290px;
	height:  220px;
	padding: 10px 10px 40px 10px;
	background: #f5f5f5;
	position: relative;
	overflow: visible;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 15px;
	border-radius: 18px;
   }
   
   .card-img {
	background-color: #ffcaa6;
	height: 40%;
	width: 100%;
	border-radius: .5rem;
	transition: .3s ease;
   }
   
   .card-info {
	padding-top: 10%;
   }
   
   svg {
	width: 20px;
	height: 20px;
   }
   
   .card-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
	font-weight: 900;
	font-size: 1.2em;
	line-height: 1.5;
   }
   
   .text-body {
	font-size: .9em;
	padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
	border: 1px solid #252525;
	display: flex;
	padding: .3em;
	cursor: pointer;
	border-radius: 50px;
	transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
	transform: translateY(-25%);
	box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
	border: 1px solid #ffcaa6;
	background-color: #ffcaa6;
   }
   
.card-div {
	height: auto; 
	width: 100%; 
	padding: 15px;
	margin: 15px;
	border-radius: 18px;
	background-color: #f3f3f3;
}
.slogan {
    font-size: 18px;
    font-weight: bold;
    color: #f3f3f3; /* Adjust to match theme */
}

.container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
	overflow: hidden;
}

.content-wrapper{
	margin-top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: nowarp;
	padding-bottom: 0%;
	overflow-x: auto;
  	scroll-snap-type: x mandatory;
	overflow-y: hidden;
 	scroll-behavior: smooth;
  	-webkit-overflow-scrolling: touch;
	border-radius: 33px;
}

.content-wrapper a{
	position: absolute;
	right: 0;
	top: 0;
	margin: 30px 30px 0px 0px;
	z-index: 100;
	color: black;
	text-decoration: none;
	background-color: #d9e70d;
}


.a {
	position: fixed;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	color: black;
	text-decoration: none;
  }
  

.content-wrapper a:active{
	color: black;
}

.loader{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1em;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topnavbar{
	position: absolute;
	top: 0;
	left: 0;
	margin: 15px 0px 0px 15px;
	background-color: #1eb337;
}

.topnavbar h2{
	font-weight: bold;
}

.navbar {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0px;
	z-index: 50;
	background-color: #ECF0F3;
	border-radius: 22px;
	padding-top: 20px;
}

.navbar i {
    color: black !important; /* Ensures all icons in navbar are white */
	text-decoration: none;
}

.navbar button{
	height: 55px;
	width: 55px;
	margin: 0px 20px 0px 20px;
	border-radius: 10px;
	border: 1px solid #F3F3F3; box-shadow: 5px 5px 10px #c3c3c3, -5px -5px 12px #ffffff;
}

.navbar button:hover{
	box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
}

/* Bagian Jam*/
.clock-section{
	position: relative;
	height: 100%;
	width: 100%;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	overflow: scroll;
}

.clock-section h1{
	margin-top: 60px;
}

.clock-section h3{
	color: #454545;
	margin-top: 5px;
}

.ampmtogle{
	position: absolute;
	top: 73%;
	width: 40px;
	height: 40px;
	font-size: .6em;
	font-weight: bold;
	border-radius: 10px;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 3px 3px 7px #c3c3c3, -2px -2px 5px #ffffff;
}

/* Universal Analog */
.analog{
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	width: 280px;
	height: 280px;
	border-radius: 100%;
	margin-bottom: 50px;
	box-shadow: -6px -6px 15px white, 6px 6px 15px hsla(244, 30%, 86%, 1), inset 6px 6px 15px hsla(244, 30%, 86%, 1), inset -6px -6px 15px white;
}

.analog-timer{
	margin-bottom: 50px;
}

.analog span{
	width: 90px;
	height: 90px;
	border-radius: 100%;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 3px 3px 7px #c3c3c3, -2px -2px 5px #ffffff;
}

.progress-ring{
	position: absolute;
	width: 280px;
	height: 280px;
	z-index: 0;
	background: transparent;
}

.progress-ring-timer{
	fill: none;
	stroke-width: 8;
	stroke-linecap: round;
    stroke: #FF003E;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    stroke-dasharray: 780;
    stroke-dashoffset: calc(780 - (780 * (var(--totalsecTemp) / var(--totalsec))));
}

.progress-ring-timer-back {
	stroke: #D7D7D7;
}

.progress-ring__circle {
    stroke-dasharray: 2 5;
}

.hand {
  width: 50%;
  right: 50%;
  height: 5px;
  background: #6900FF;
  position: absolute;
  top: 50%;
  border-radius: 10px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour {
  width: 30%;
  z-index: 3;
}

.hand.mins {
  height: 4px;
  z-index: 10;
  width: 40%;
}

.hand.secs {
  background-color: red;
  width: 45%;
  height: 2px;
  z-index: 2;
}

.twelve, 
.three, 
.six, 
.nine {
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: red;
}

.twelve, 
.six {
  transform: translateX(-50%) rotate(90deg);
}

.twelve {
  top: 15px;
  left: 50%;
}

.three {
  top: 50%;
  right: 15px;
}

.six {
  bottom: 15px;
  left: 50%;
}

.nine {
  left: 15px;
  top: 50%;
}

/* Bagian Stopwatch */
.stopw-section{
	position: relative;
	height: 100%;
	width: 100%;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	scroll-snap-align: start;
}

.lap-box-fixer{
	justify-content: start;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
	margin-top: 10px;
	width: 300px;
	height: 100%;
}

.lap-box{
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	margin-bottom:15px ;
	margin-top: 40px;
	
}

.laptab{
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-around;
	height: 35px;
	width: 250px;
	text-align: center;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 5px 5px 10px #c3c3c3, -5px -5px 12px #ffffff;
}

.swbtn-holder{
	display: flex;
	justify-content: space-around;
	gap: 10vw;
}

.swbtn-holder button{
	width: 120px;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.1em;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 8px 8px 16px #c3c3c3, -5px -5px 5px #ffffff;
}

/* Bagian Timer */
.timer-section {
	position: relative;
	height: 100%;
	width: 100%;
	position: relative;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	scroll-snap-align: start;
}

.timedisplayHolder{
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer-btnholder{
	width: 280px;
	height: 45px;
	display: flex;
	justify-content: space-around;
	gap: 10vw;
}

.timer-btnholder button{
	width: 120px;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.1em;
	flex-grow: 1;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 8px 8px 16px #c3c3c3, -5px -5px 5px #ffffff;
}

.time-boxes{
	display: flex;
	justify-content:  start;
	align-items: center;
	width: 280px;
	height: 70px;
	margin-bottom: 20px;
	
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
 	scroll-behavior: smooth;
  	-webkit-overflow-scrolling: touch;
}

.time-boxes button{
	height: 57px;
	width: 57px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	margin: 0px 6px 0px 6px;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 5px 5px 5px #c3c3c3, -5px -5px 6px #ffffff;
	flex-shrink: 0;
	scroll-snap-align: end;
}

.rival-boxes{
	display: flex;
	justify-content:  start;
	align-items: center;
	width: 400px;
	height: 76px;
	margin-bottom: 14px;
	border-radius: 60px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
 	scroll-behavior: smooth;
  	-webkit-overflow-scrolling: touch;
	border: solid 1px #b8b8b8 ;
	box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
	background-color: #ECF0F3 !important; /* Adjust as needed */
}

  .rival-boxes img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
  }
  .iframe-container {
	width: 100%;
	height: 1000px;
	border-radius: 22px;
}


.rival-boxes button{
	height: 57px;
	width: 57px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	margin: 0px 6px 0px 6px;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 5px 5px 5px #c3c3c3, -5px -5px 6px #ffffff;
	flex-shrink: 0;
	scroll-snap-align: end;
}



.rival-boxes button:hover{
	box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
}

.timer-pickerholder{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	margin: 6px 0px 10px 0px;
}

.timer-pickerholder input[type=time] {
	position: absolute;
	height: 40px;
	width: 280px;
	background: transparent;
	color: transparent;
	border: 0px;
}



/* Bagian Social */
.social-section {
	position: relative;
	height: 100%;
	width: 100%;
	position: relative;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	scroll-snap-align: start;
}

.timedisplayHolder{
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer-btnholder{
	width: 280px;
	height: 45px;
	display: flex;
	justify-content: space-around;
	gap: 10vw;
}

.timer-btnholder button{
	width: 120px;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.1em;
	flex-grow: 1;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 8px 8px 16px #c3c3c3, -5px -5px 5px #ffffff;
}

.time-boxes{
	display: flex;
	justify-content:  start;
	align-items: center;
	width: 280px;
	height: 70px;
	margin-bottom: 20px;
	
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
 	scroll-behavior: smooth;
  	-webkit-overflow-scrolling: touch;
}

.time-boxes button{
	height: 57px;
	width: 57px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	margin: 0px 6px 0px 6px;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 5px 5px 5px #c3c3c3, -5px -5px 6px #ffffff;
	flex-shrink: 0;
	scroll-snap-align: end;
}

.time-boxes button:hover{
	box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
}

.timer-pickerholder{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	margin: 6px 0px 10px 0px;
}

.timer-pickerholder input[type=time] {
	position: absolute;
	height: 40px;
	width: 280px;
	background: transparent;
	color: transparent;
	border: 0px;
}
/* Utility */

#swdisms{
	color: #FF0051;
}

#strbtn, #strTm{
	color: white;
	border: 1px solid #6900FF; background: #6900FF; box-shadow: 5px 5px 10px #4B00B7, -5px -5px 12px #ffffff;
}

#stpbtn, #canTm{
	color: white;
	border: 1px solid red; background: #FF1B4B; box-shadow: 5px 5px 10px #A0001E, -5px -5px 12px #ffffff;
}

#rstbtn, #lapbtn, #pauseTm{
	color: red;
}

#pickerTm{
	width: 120px;
	height: 40px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.1em;
	flex-grow: 1;
	border: 1px solid #F3F3F3; background: #ECF0F3; box-shadow: 8px 8px 16px #c3c3c3, -5px -5px 5px #ffffff;
}

/* Universal Animation*/
@keyframes fadeout{
	from{opacity: 1;}
	to{opacity: 0;}
}

@media only screen and (max-width: 200px) {
	.rival-boxes {
			  max-width: 220px;
	}
	.navbar{
		max-width: 100%;
	}
	.navbar button{
		margin: 0px 10px 0px 10px;
  }
}
@media only screen and (max-width: 310px) {
	.rival-boxes {
			  max-width: 200px;
	}
	.navbar{
		max-width: 100%;
	}
	.navbar button{
		margin: 0px 10px 0px 10px;
  }
}
  @media only screen and (max-width: 400px) {
	.rival-boxes {
			  max-width: 350px;
	}
	.navbar{
		max-width: 100%;
	}

	.navbar button{
		margin: 0px 10px 0px 10px;
	}
  }